<div class="mt-5">
  <h1>user Data</h1>
  <!-- user using class -->

  <h1>user id {{ user1.id }}</h1>
  <h1>user Name {{ user1.userName }}</h1>
  <h1>user Email {{ user1.email }}</h1>

  <h1>admin Data</h1>
  <!-- admin using interface -->

  <h1>admin id {{ admin1.id }}</h1>
  <h2>admin Name {{ admin1.name }}</h2>
  <h3>admin role {{ admin1.role }}</h3>

  <!-- Data binding -->
  <!-- String Interpolation -->
  <!-- <h2> user Name :{{userName}}</h2> -->
  <!-- <h2> user Name :{{getName()}}</h2>
    <h3>user Age :{{userAge}}</h3> -->
  <!-- <h2>{{userName}} {{userAge}}</h2> -->
  <!-- <h3>{{userAge}}</h3> -->
</div>
