<div class="container">
    <app-navbar></app-navbar>
   <div class="row">
     <div class="col-lg-6">
        <app-user></app-user>
        <app-product></app-product>
     </div>
     <div class="col-lg-6">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dicta nesciunt sed error perferendis praesentium inventore corporis, excepturi est, voluptatem a quaerat sunt amet hic, explicabo eveniet laboriosam eum eligendi!</p>
     </div>

   </div>
    
    
    <app-footer></app-footer>
</div>

